<form name="main-form" [formGroup]="mainForm">
  <select
    id="lang-select"
    name="lang-select"
    formControlName="language"
    (change)="handleLanguageChange()"
  >
    <option value="" selected disabled>Pick a language</option>
    <option value="js">JavaScript/TypeScript</option>
    <option value="html">HTML</option>
  </select>
  @if (mainForm.value.language) {
  <select name="concept" id="concept" formControlName="concept">
    <option value="" selected disabled>Pick a concept</option>
    @for (concept of concepts[mainForm.value.language]; track concept) {
    <option [value]="concept">{{ concept | titlecase }}</option>
    }
  </select>
  }
</form>
