@switch (concept()) { @case ("class") {
<pre>
<code><span class="tag">&lt;</span><span class="keyword">p</span> <span class="special-keyword">class</span><span class="special-operator">&equals;</span><span class="string">"employee-informations"</span><span class="tag">&gt;</span>
<span class="tag">&lt;/</span><span class="keyword">p</span><span class="tag">&gt;</span></code>
</pre>
} @case ("id") {
<pre>
<code><span class="tag">&lt;</span><span class="keyword">div</span> <span class="special-keyword">id</span><span class="special-operator">&equals;</span><span class="string">"emplyee-counter"</span><span class="tag">&gt;</span>
<span class="tag">&lt;/</span><span class="keyword">div</span><span class="tag">&gt;</span></code>
</pre>
} @case ("name") {
<pre>
<code><span class="tag">&lt;</span><span class="keyword">form</span> <span class="special-keyword">name</span><span class="special-operator">&equals;</span><span class="string">"feedback-survey"</span><span class="tag">&gt;</span>
<span class="tag">&lt;/</span><span class="keyword">form</span><span class="tag">&gt;</span></code>
</pre>
}}
