@use "./styles.scss";
$code-background: #292929;
$variable: #ff723b;
$function: #bae087;

.keyword {
  color: $variable;
}

.name {
  color: #74c3ee;
}

.number {
  color: #fd96cf;
}

pre {
  background-color: $code-background;
  border-radius: 0.25rem;
  padding: 0.25rem;
  overflow: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  width: fit-content;
  align-self: center;
  justify-self: center;
}

.brackets {
  color: #daa761;
}

.special-operator {
  color: $variable;
}

.special-keyword {
  color: #da3939;
}

.function {
  color: $function;
}

.string {
  color: #98b626;
}

code {
  background-color: $code-background;
  font-family: "JetBrains Mono", sans-serif;
}
